:root {
  /*______________Main______________*/
  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 24px;
  --space-lg: 36px;

  --border-radius-sm: 4px;
  --border-radius-lg: 10px;

  --body-background: #e2e9f9;

  --primary-color: #006ef2;
  --primary-lighter: color-mix(in oklab, var(--primary-color), white 70%);
  --secondary-color: #ff5c00;
  --tertiary-color: ;
  --dark: #202236;
  --light: #fff;

  /*_____________Topbar________________*/

  --topbar-background: #fff;

  /*____________Navigation_____________*/
  --navbar-background: cyan;
  /* --navbar-background-active: color-mix(
    in oklab,
    var(--navbar-background),
    black 10% ); */
  --navbar-background-active: blue;

  /*______________Cards______________*/

  --card-background: #fff;
}
