.add-new__form {
  display: flex;
  flex-direction: column;
}

.add-new__form input,
.add-new__form textarea {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-lighter);
  border: none;
  padding: var(--space-xs);
  border-radius: var(--border-radius-sm);
  margin-bottom: var(--space-sm);
  width: 100%;
}

.add-new__form button {
  margin: auto;
}
