.add-new__form {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  padding: var(--space-md);
  border-radius: var(--border-radius-lg);
  box-shadow: 6px 2px 8px 0px rgba(0, 0, 0, 0.05);
  color: var(--light);
  margin-bottom: var(--space-lg);
}

.add-new__form .input__count {
  /* margin: 5px 0 var(--space-sm); */
  font-size: 12px;
  align-self: flex-end;
  margin: 5px 0 var(--space-xs);
}

.add-new__form input,
.add-new__form textarea {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-lighter);
  border: none;
  padding: var(--space-xs);
  border-radius: var(--border-radius-sm);
  width: 100%;
  resize: none;
}

.add-new__form input:focus-visible,
.add-new__form textarea:focus-visible {
  outline: 2px solid #fff;
}

.add-new__form button {
  margin: var(--space-md) auto 0;
}
