footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 500;
}

.navbar {
  background-color: var(--navbar-background);
  display: flex;
  margin: 0;
  flex-grow: 1;
  padding: 0;
}

li.navlink {
  list-style: none;
  flex-grow: 1;
  text-align: center;
  background-color: lightcyan;
  padding: var(--space-sm);
}
