footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 500;
  box-shadow: 3px -3px 8px 0px rgba(0, 0, 0, 0.05);
}

.navbar {
  display: flex;
  margin: 0;
  flex-grow: 1;
  padding: 0;
}

.navlink {
  flex-grow: 1;
  text-align: center;
  background-color: var(--primary-lighter);
  padding: var(--space-sm);
}
.navlink svg path {
  fill: var(--primary-color);
}

.navlink--active {
  background-color: var(--primary-color);
}

.navlink--active svg path {
  fill: #fff;
}
