footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 500;
}

.navbar {
  display: flex;
  margin: 0;
  flex-grow: 1;
  padding: 0;
}

.navlink {
  list-style: none;
  flex-grow: 1;
  text-align: center;
  background-color: var(--navbar-background);
  padding: var(--space-sm);
}
.navlink svg path {
  fill: #000;
}

.navlink--active {
  background-color: var(--navbar-background-active);
}

.navlink--active svg path {
  fill: #fff;
}
