header {
  position: fixed;
  width: 100%;
  z-index: 500;
}

.topbar {
  display: flex;
  justify-content: center;
  background-color: var(--topbar-background);
  padding: var(--space-sm);
  margin-bottom: var(--space-md);
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.05);
}

.topbar h1.logo {
  font-size: 1.8rem;
  margin: 0;
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  color: var(--primary-color);
}
